@import "variables.scss";
@import "mixins.scss";

.destination_content {
  width: 100vw;
  height: fit-content;
  @include col_center();
  gap: 25px;
  padding: 20px 0;
  color: $white;
  font-size: 1rem;
}

.star_picture {
  width: 200px;
}

.star_picture__img {
  width: 100%;
  object-fit: cover;
}

.star_names {
  display: flex;
  gap: 32px;
  list-style: none;
  @include barlow_2px();
}

.star_names__item {
  font-size: 1.3em;
  padding-bottom: 10px;
  color: $blue_300;
}

.star_names__item--active {
  border-bottom: 2px solid $white;
  color: $white;
}

.star_brief {
  @include col_center();
  gap: 16px;
  padding: 0 24px;
}

.star_brief__title {
  @include bellefair_regular();
  font-size: 5em;
  text-transform: uppercase;
}

.star_brief__description {
  @include barlow_paragraph();
  font-size: 1.3em;
  font-weight: 200;
  text-align: center;
  border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
  padding-bottom: 24px;
}

.avg_distance,
.travel_time {
  @include col_center();
  gap: 12px;
}

.avg_distance__title,
.travel_time__title {
  @include bellefair_regular();
  font-size: 2.3em;
  text-transform: uppercase;
}

.avg_distance__label,
.travel_time__label {
  @include barlow_2px();
  font-size: 1.1em;
  color: $blue_300;
  font-weight: 200;
}
