@import "variables.scss";
@import "mixins.scss";

.crew_content {
  @include col_center();
  width: 100vw;
  height: fit-content;
  gap: 40px;
  padding: 20px 0;
  color: $white;
  font-size: 1rem;
}

.page_title {
  display: flex;
  align-items: center;
  gap: 15px;
  letter-spacing: 2px;
  font-size: 1.6em;
}

.page_title__action {
  @include barlow_regular();
}

.page_title__number {
  font-family: $barlow;
  font-weight: bold;
  opacity: 25%;
}

.member_info {
  @include col_center();
  padding: 0 24px;
}

.member_info__name,
.member_info__role {
  @include bellefair_regular();
}

.member_info__role {
  padding-bottom: 8px;
  font-size: 1.2em;
  opacity: 50%;
}

.member_info__name {
  padding-bottom: 24px;
  font-size: 1.5em;
}

.member_info__bio {
  @include barlow_paragraph();
  text-align: center;
  font-weight: 200;
  font-size: 1.2em;
}

.crew_members {
  display: flex;
  gap: 20px;
  list-style: none;
}

.crew_members__item {
  border-radius: 50%;
  padding: 4px;
  background-color: $white;
  opacity: 25%;
}

.crew_members__item--active {
  opacity: 100%;
}

.member_picture {
  width: 100vw;
  text-align: center;
  position: relative;
}

.member_picture::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
  // #000 0% = fully visible/opaque black. It's a css thing of how it blends colors.
  // also, I might just not know how to read this "color percentage" format of gradient. 
  // percentage is really opacity/transparency?
}

.member_picture__img {
  width: 50%;
  object-fit: cover;
}
