<section class="header_nav">
  <div class="logo_icon">
    <img class="logo_icon__img" src="assets/shared/logo.svg" alt="" />
  </div>

  <div class="nav_menu" *ngIf="!check_device('mobile')">
    <div class="line_icon" *ngIf="check_device('desktop')">
      <img class="line_icon__img" src="assets/shared/line.png" alt="" />
    </div>

    <div class="nav_menu__item">
      <span class="nav_menu__number"> 00 </span>
      <span class="nav_menu__link"> Home </span>
    </div>

    <div class="nav_menu__item">
      <span class="nav_menu__number"> 01 </span>
      <span class="nav_menu__link"> Destination </span>
    </div>

    <div class="nav_menu__item">
      <span class="nav_menu__number">02</span>
      <span class="nav_menu__link"> Crew</span>
    </div>

    <div class="nav_menu__item">
      <span class="nav_menu__number"> 03 </span>
      <span class="nav_menu__link">Technology</span>
    </div>
  </div>

  <div
    class="menu_icon"
    *ngIf="check_device('mobile')"
    (click)="open_sidemenu()"
  >
    <img
      class="menu_icon__img"
      src="assets/shared/icon-hamburger.svg"
      alt="hidden menu button"
    />
  </div>
</section>
