<section class="header_nav" @header_slide_in>
  <div class="logo_icon">
    <img class="logo_icon__img" src="assets/shared/logo.svg" alt="" />
  </div>

  <div class="line_icon" *ngIf="check_device('desktop')">
    <div class="line_icon__img">
      <!--  -->
    </div>
  </div>

  <div class="nav_menu" *ngIf="!check_device('mobile')">
    <div
      *ngFor="let page of pages; let i = index"
      class="nav_menu__item"
      [routerLink]="['/' + page]"
      routerLinkActive="nav_menu__item--active"
    >
      <span class="nav_menu__number"> {{ "0" + i }} </span>
      <span class="nav_menu__link"> {{ page }} </span>
    </div>
  </div>

  <div
    class="menu_icon"
    *ngIf="check_device('mobile')"
    (click)="open_sidemenu()"
  >
    <img
      class="menu_icon__img"
      src="assets/shared/icon-hamburger.svg"
      alt="hidden menu button"
    />
  </div>
</section>
