@import "variables.scss";
@import "mixins.scss";

.home {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.home_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home_bg__img {
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: $tablet_max) {
  .home_bg__img {
    width: 100%;
    height: initial;
    object-fit: contain;
  }
}
