$white: #ffffff;
$blue_300: #d0d6f9;
$blue_900: #0b0d17;

$mobile_max: "480px";
$tablet_max: "1050px";
$laptop_max: "1440px";

$bellefair: "Bellefair", serif;
$barlow: "Barlow", sans-serif;
$barlow_condensed: "Barlow Condensed", sans-serif;
